version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore"
      include: "scope"
# Updated Sun Nov  9 12:50:01 CET 2025
# Updated Sun Nov  9 12:52:21 CET 2025
# Updated Sun Nov  9 12:56:35 CET 2025
# File updated 1762692716
